@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Mina&display=swap');

/*  
font-family: 'Mina', sans-serif;
font-family: 'Marcellus', serif;
*/

*{
    margin: 0;
    padding: 0;
    font-weight: 400;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background: linear-gradient(180deg, #049DBF 0.01%, #012E40 99.99%);
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas: 'header' 'main' 'footer';
    
    align-items:center ;
}

header {
    padding: 20px 0px 20px 0;
    grid-area: header;
    display: flex;
    font-family: 'Mina', sans-serif;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

header > img {
    height: 70px;
}

ul {
    display:flex;
    list-style: none;   
}

li {
    padding: 10px;
}

.button {
    border: 0;
    border-radius: 20px;
    background-color: #012E40;
    box-shadow:3px 3px 3px #011526;
    font-family: 'Mina', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.head {
    width: 150px;
    height: 60px;
}

a{
    color: #ffffff;
}
a:hover {
    color: #049DBF;
}

main {
    grid-area: main;
    padding: 50px 0 50px 0;
}

.principal {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr 1fr;
    grid-template-areas:'title img' 'sub img' 'but img';
    justify-items: center;
    align-items: center;
    padding: 0 0 100px 0;
}

.principal > h1 {
    font-family: 'Mina', sans-serif;
    grid-area: title;
    font-size: 55px;
    color: white;
}

.principal > h2 {
    font-family: 'Marcellus', serif;
    grid-area: sub;
    font-size: 25px;
    color: white;
    text-align: center;
    padding: 30px 0 10px 0;
}

.principal > img {
    grid-area: img;
    width: 40%;
}

.princ {
    font-size: 25px;
    grid-area: but;
    width: 180px;
    height: 60px;
}

.secondary {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}

.secondary > h3 {
    border-top: 0.4px solid #011526;
    padding: 40px 0 20px 0;
    font-family: 'Mina', sans-serif;
    font-size: 30px;
}

.secondary > ol {
    font-family: 'Marcellus', serif;
    font-size: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    height: 400px;
    background-color: #049DBF;
    margin: 20px;
    box-shadow: 6px 6px 5px #012E40;
    border-radius: 20px;
}

.card-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.cards {
    display: flex;
}

.card > h3 {
    font-family: 'Mina', sans-serif;
    padding: 20px 10px 0px 10px;
    font-size: 30px;
    word-wrap: break-word;
    text-align: center
}

.box {
    margin: auto;
    display: flex;
    border: 0;
    text-align: center;
    border-radius: 20px;
}

.URL {
    padding: 20px;

}

.card-b {
    font-size: 25px;
    width: 120px ;
    margin: 0 0 10px 0;
}

#selector {
    padding: 20px 50px 20px 50px;
    margin: 20px;
}

.link {
    font-size: 15px;
    padding: 10px 30px 10px 30px;
    background-color: #011526;
}

.search {
    padding: 20px;
}

footer {
    grid-area: footer;
}

footer > img {
    display: flex;
    height: 100px;
    margin: auto;
}